<?xml version="1.0"?>

<launch>
   <arg name="laser_enabled" default="$(optenv HUSKY_LASER_ENABLED true)"/>
   <arg name="world" default="worlds/singlePillar.world"/>
   
   <include file="$(find husky_highlevel_controller)/worlds/mysinglePillar.world">
        <arg name="world_name" value="/usr/share/gazebo-7/worlds/$(arg world).world"/>
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
   </include>
 <node pkg="husky_highlevel_controller" type="husky_highlevel_controller" name="husky_highlevel_controller" output="screen" launch-prefix="gnome-terminal --command">
    <rosparam command="load" file="$(find husky_highlevel_controller)/config/config.yaml" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" />
</launch>